# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
# Criado por https://www.toptal.com/developers/gitignore/api/node,visualstudiocode
# Edite em https://www.toptal.com/developers/gitignore?templates=node,visualstudiocode

### Nó ###
# Histórico
Histórico
*.registro
npm-debug.log*
yarn-debug.log*
fio-erro.log*
lerna-debug.log*
.pnpm-debug.log*

# Relatórios de diagnóstico (https://nodejs.org/api/report.html)
relatório.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

#Dados de tempo de execução
pids
*.pid
*.semente
*.pid.lock

# Diretório para libs instrumentadas geradas por jscoverage/JSCover
lib-cov

# Diretório de cobertura usado por ferramentas como istambul
cobertura
*.lkov

# cobertura de teste nyc
.nyc_output

# Armazenamento intermediário do Grunt (https://gruntjs.com/creating-plugins#storing-task-files)
.grunhido

# Diretório de dependências do Bower (https://bower.io/)
bower_components

# configuração node-waf
.lock-wscript

# Complementos binários compilados (https://nodejs.org/api/addons.html)
construir/lançar

# Diretórios de dependência
node_modules/
jspm_packages/

# Diretório de dependências do Snowpack (https://snowpack.dev/)
web_modules/

# cache TypeScript
*.tsbuildinfo

# Diretório de cache npm opcional
.npm

# Cache eslint opcional
.eslintcache

# Cache stylelint opcional
.stylelintcache

# Cache de micropacote
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Histórico de REPL opcional
.node_repl_history

# Saída do 'pacote npm'
*.tgz

# Arquivo de integridade do fio
.yarn-integrity

# arquivos de variáveis ​​de ambiente dotenv
.env
.env.desenvolvimento.local
.env.test.local
.env.produção.local
.env.local

# cache do pacote de pacotes (https://parceljs.org/)
.cache
.parcel-cache

# Saída da compilação Next.js
.próximo
Fora

# Nuxt.js constrói/gera saída
.nuxt
distância

# arquivos Gatsby
.cache/
# Comente na linha pública se seu projeto usa Gatsby e não Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# público

# saída de compilação do vuepress
.vuepress/dist

# vuepress v2.x diretório temporário e de cache
.temp

# Cache do Docusaurus e arquivos gerados
.docusaurus

# Diretórios sem servidor
.serverless/

# Cache do FuseBox
.Caixa de Fusiveis/

# Arquivos locais do DynamoDB
.dynamodb/

# Arquivo de porta TernJS
.tern-port

# Armazena as versões do VSCode usadas para testar as extensões do VSCode
.vscode-test

# fio v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

### Correção do nó ###
# Diretórios do Webpack sem servidor
.webpack/

# Cache stylelint opcional

# SvelteKit constrói / gera saída
.svelte-kit

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Histórico local para código do Visual Studio
.história/

# Extensões de código do Visual Studio construídas
*.vsix

### Patch VisualStudioCode ###
# Ignora todo o histórico local de arquivos
.história
.ionida

# Fim de https://www.toptal.com/developers/gitignore/api/node,visualstudiocode